@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('../../RobotoCondensed-VariableFont_wght.ttf') format('truetype');
  /* You may need to provide additional font formats for cross-browser compatibility */
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  ul {
      list-style-type: none;
      padding: 0;
  }
  li {
    margin-bottom: 5px;
  }
  .gradient-background {
    /* Linear gradient with 75% black starting from the left */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 75%),
                radial-gradient(circle at 100% 50%, #00FF00 50%, #e8199f 70%);
    /* Background size and position */
    background-size: 100% 0%, 50% 50%;
    background-position: left top, right bottom;
    /* Additional styles */
    /* Ensure the background covers the entire element */
    background-repeat: no-repeat;
    /* Add height to the element */
    height: 100vh; /* Adjust as needed */
  }  
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
